/* #tasks{
    background-color: yellow;
}
 */
 body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    max-height: 90vh;
}

#lCol, #mCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
}
#rCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 61vh;
}

#mCol h2, #rCol h2{
    font-family: Arial, Helvetica, sans-serif;
}
#mCol p, #rCol p{
   font-family: monospace;
}

#mCol h4, #rCol h4{
   font-family: monospace;
}

button:hover{
    cursor: pointer;
}

#input{
    margin-top: 70px;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(190, 190, 238);
    font-family: monospace;
    h3{
        align-self: center;
        margin: 0;
    }
    label{
        margin-top: 10px;
    }
    button{
        align-self: center;
        height: 35px;
        width: 90px;
        margin-top: 10px;
    }
}

#tasks, #finishedTasks{
    overflow-y: scroll;
}


#tasks div{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 209, 105);
    width: 300px;
    min-height: 100px;
    max-height: fit-content;
    padding: 10px;
    margin: 10px;
    
    overflow-y: scroll; 
    overflow-x: clip;
    /* ^semi temp fix^ - dur ikke med lange uafbrudte ord */
    
    /*  p{
        max-width: 300px;
    } */
    button{
        width: 60px;
        height: 30px;
        justify-self: bottom;
        align-self: center;
        background: rgb(214, 174, 87);
        color: rgb(134, 83, 36);
        border: solid rgb(134, 83, 36) 2px;
        border-radius: 10px;
        font-family: monospace;
        font-weight: bold;
    }
    /* #toDoBtns{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-height: 50px;
    } */
}

#finishedTasks div{
    display: flex;
    flex-direction: column;
    background-color: rgb(126, 228, 105);
    width: 300px;
    min-height: 120px;
    max-height: fit-content;
    padding: 10px;
    margin: 10px;
    
    overflow-y: scroll; 
    overflow-x: clip;
   /*  #toDoBtns{
        visibility: hidden;
    }
    button{
        display: none;
    } */
}

#tasks div #toDoBtns{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 50px;
}